---
layout: page
permalink: "teaching/index.html"
title: "教學 Teaching"
---

	<h2>General Information</h2>
	
	<ul class="listing">
		{% for post in site.categories["general_info"] %}
		{% unless post.draft %}
		<li>
			<span style="float: left; color:blue;">{% if post.warn %}[{{post.warn}}]&nbsp{% endif %}&nbsp</span><a href="{{ post.url }}">{{ post.title }}</a>&nbsp{{ post.notes }}
		</li>
		{% endunless %}
		{% endfor %}
	</ul>
	
	<h2>研究所 Graduate Courses</h2>
	
	<ul class="listing">
		{% for post in site.categories["graduate_courses"] %}
		{% unless post.draft %}
		<li>
			<span style="float: left; color:blue;">{% if post.warn %}[{{post.warn}}]&nbsp{% endif %}</span> <a href="{{ post.url }}">{{ post.title }}</a>&nbsp{{ post.notes }}
		</li>
		{% endunless %}
		{% endfor %}
	</ul>
	
	<h2>大學系 Undergraduate Courses</h2>
	
	<ul class="listing">
		<!--This is not internal links. This is why they're hardcoded. -->
		<li> 
			<span style="float: left; color:blue;">[Fall 2013]&nbsp</span>
			<a href="https://docs.google.com/spreadsheet/pub?key=0AlIzY9pLiJVZdGljVmtGUXgxblp3RnppQXpzaWRER2c&single=true&gid=0&output=html">學習方法與技巧 Basic Study Skills</a> 
			(<a href="https://docs.google.com/spreadsheet/pub?key=0AlIzY9pLiJVZdGljVmtGUXgxblp3RnppQXpzaWRER2c&single=true&gid=0&output=pdf">PDF</a>). Core course teaching basic college survival skills to undergraduates. (Co-taught.)
		</li>
		
		{% for post in site.categories["undergraduate_courses"] %}
		{% unless post.draft %}
		<li>
			<span style="float: left; color:blue;">{% if post.warn %}[{{post.warn}}]&nbsp{% endif %}</span> <a href="{{ post.url }}">{{ post.title }}</a>&nbsp{{ post.notes }}
		</li>
		{% endunless %}
		{% endfor %}
	</ul>