<div class="sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">介紹 ABOUT</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
      <a href="http://kerim.oxus.net/syllabi">教學 Teaching ↗</a>
      <a href="http://ndhu.academia.edu/KerimFriedman" target="_blank">寫作 Writings ↗</a>
   </nav>

<div class="container sidebar-sticky">
  <small>
    <p><a href="http://prose.io/#kerim/kerim.github.com/edit/master/">Prose</a> | <a href="https://github.com/kerim/kerim.github.com">Github</a> | <a href="https://github.com/poole/hyde">Source</a></p>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </small>
  </div>
</div>
